
.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

.row {
  display: flex;
  flex-flow: row wrap;

  &.center {
    align-items: center;
    justify-content: center;
  }
}

.column {
  width: 100%;

  @media screen and (min-width: 600px) {

    &.md3 {
      max-width: 25%;
    }

    &.md6 {
      max-width: 50%;
    }

  }
}

