
.card {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  box-shadow: 0px 6px 5px #e2e2e2;

  .avatar-container {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 6px 5px #e2e2e2;
    background-color: #ffffff;
    padding: 20px;

    .avatar {
      display: flex;
      width: 100%;
      height: auto;
    }
  }

  .content {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    padding: 5px;
    font-family: "Source Sans Pro Light";

    .authorName{
      font-weight: bold;
      padding-bottom: 10px;
    }
    .authorContact{
      width: 100%;
      padding-bottom: 10px;
      color: $purple;
    }
    .authorBlaha{
      text-justify: inter-word;
      font-size: 90%;
    }
  }
}




