.button {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;

  &:hover {
    background-color: #2bbbad;
  }

  &.success {
    background-color: $success;

    &:hover {
      background-color: lighten($success, 10);
    }

    &.is-disabled {
      opacity: .5;
      cursor: not-allowed;

      &:hover {
        background-color: $success;
      }
    }

  }


}
