.meta {
  min-height: 400px;
  width: 100%;
  padding: 1em;
  display: block;

  .input-group {
    width: 100%;

    .vue-input-tag-wrapper {
      border: none;
      margin-top: .5em;

      input.new-tag {
        width: 100%;
        border-bottom: 1px solid #9e9e9e;
      }

      .input-tag {
        background-color: color($orange, 'lighest');
        border: none;
        color: #fff;

        a.remove {
          color: #fff;
        }
      }

    }

  }

  .roles_wrap {
    position: relative;
    width: 100%;
    margin-top: 2em;
    label {
      color: #9e9e9e;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-size: 1rem;
      cursor: text;
      -webkit-transition: -webkit-transform .2s ease-out;
      transition: -webkit-transform .2s ease-out;
      transition: transform .2s ease-out;
      transition: transform .2s ease-out, -webkit-transform .2s ease-out;
      text-align: initial;
      pointer-events: none;

      -webkit-transform: translateY(-14px) scale(0.8);
      transform: translateY(-25px) scale(0.8);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
  }
}
