

.multiselect__tags {
  border: none;
  border-radius: 0;
  padding: 8px 40px 0 0;
}

span.multiselect__tag {
  background: color($orange, 'lighest');
}
.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: color($orange, 'lighter');
}
.multiselect__tag-icon:after {
  color: #fff;
}

.multiselect__option--highlight {
  background: color($teal, 'lightest');
}

.multiselect__option--selected.multiselect__option--highlight {
  background: color($red, 'default');
}
.multiselect__input, .multiselect__single {
  padding: 1px 0 0 0;
}
